body {
    margin: 0;
    font-family: 'Tajawal', sans-serif;
    background: linear-gradient(to bottom, #001133, #0044aa);
    color: #fff;
    direction: rtl;
    text-align: right;
}
#threejs-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
header, section {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-bottom: 20px;
}
h1, h2, h3 {
    text-align: center;
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
}